@inherits LayoutComponentBase

<PageTitle>Mind Peace</PageTitle>

<div class="page">
    <div style="background-image:none;background-color:darkcyan;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content p-0">
            @Body
            <br />
            <br />
            <br />
            <footer class="container" style="position:absolute; bottom:0px;">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                    <div class="col-md-4 d-flex align-items-center">
                        <span class="text-muted">© 2024 MindPeace (e-FC.club.edu.eg.killourselves.org)</span>
                    </div>
                </footer>
            </footer>
        </article>
    </main>
</div>
