<div class="flex-container" style="height: 100vh;">
    <!--Image on top-->
    <div class="flex-child">
        <img src="/Into Page.jpg"
             style="height: 100vh;" class="d-block w-100 scale-img">
    </div>
    <img src="/Mind Peace Transparent 2.png" class=" mt-1 m-3" height="100" style="position:absolute;"/>
    <!-- sign up buttons type shift -->
    <div class="flex-child text-left pt-5" style="height: 100vh; place-content: center;">
        <h1 style="font-family: 'Nunito', sans-serif; color:darkcyan" class="pt-5 display-3 mb-4 text-left font-weight-bold">Welcome to Mind Peace</h1>
        <h3 style="color:darkcyan" class="mb-5 text-left">Transforming Lives with Compassion and Innovation</h3>
        <a href="/Identity/Register" class="btn btn-lg btn-outline-dark align-content-center shadow-none" style="width: 45%; height: 70px;">
            Sign Up
        </a>
        <a href="/Identity/Login" class="btn btn-lg btn-outline-dark align-content-center shadow-none" style="width: 45%; height: 70px;">
            Login
        </a>
    </div>
</div>
<style>
    .carousel-item img {
        width: 100%;
        object-fit: cover;
    }

    .scale-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .flex-container {
        display: flex;
    }

    .flex-child {
        flex: 1;
    }

        .flex-child:first-child {
            margin-right: 20px;
        }
</style>

@code {

}
